// Start libs
// Better style reset
@import "normalize";
// A cleaner way to do breakpoints/media queries, http://breakpoint-sass.com/
@import "breakpoint-sass/stylesheets/breakpoint";
// End libs

@import "00-base/**/*.scss";
@import "01-atoms/**/*.scss";
@import "02-molecules/**/*.scss";
@import "03-organisms/**/*.scss";
@import "04-templates/**/*.scss";
@import "05-pages/**/*.scss";

// Custom styles
#block-views-block-projects-block-1 {
  margin-bottom: 10px;

  h2 {
    display: none;
  }

  .field--name-field-project-image img {
    -webkit-mask-image: url("/themes/custom/webolutionary/components/images/mask-image-flipped.png");
    mask-image: url("/themes/custom/webolutionary/components/images/mask-image-flipped.png");
    -webkit-mask-position: top right;
    mask-position: top right;
  }
}

@include breakpoint($xs) {
  #block-views-block-projects-block-1 {
    margin-top: -40px;

    .field--name-field-project-image img {
      -webkit-mask-size: 720px;
      mask-size: 720px;
    }
  }
}

@include breakpoint($medium) {
  #block-views-block-projects-block-1 {
    margin-top: -158px;

    .field--name-field-project-image img {
      -webkit-mask-size: 1440px;
      mask-size: 1440px;
    }
  }
}

@include breakpoint($xl) {
  #block-views-block-projects-block-1 {
    margin-top: -209px;
  }

  .main-content > div {
    padding-left: 1em;
  }
}
