.site-slogan, .block-hiimsean {
  margin-bottom: 2%;
  padding: 1em;
  width: 25%;
  color: #fff;
}

.site-slogan__title, .block-hiimsean h2 {
  @include heading-medium($font-size: 1rem);

  font-weight: 400;
  text-align: center;
}

.site-slogan__link {
  @include link;
}
