.site-slogan,
#block-site-slogan {
  margin-bottom: 2%;
  padding: 1em;
  width: 275px;
  color: #fff;
}

.site-slogan__title,
#block-site-slogan h2 {
  @include heading-medium-white($font-size: 1.8rem);

  text-align: left;
}

.site-slogan__link {
  @include link;

  color: #fff;
  text-decoration: none;
}
