// Grayscale
$white: white;
$tan-light: #fff5d9;
$tan-medium: #f0c986;
$tan-dark: #a68452;
$blue-bright: #0061e4;
$blue-light: #00367f;
$blue-medium: #00204c;
$blue-dark: #00132d;

$near-white: #f2f2f2;
$gray-lightest: #e5e5e5;
$gray-lighter: #ccc;
$gray-light: #999;
$gray: #666;
$gray-dark: #4c4c4c;
$gray-darker: #333;
$black: black;

// Project
