.header {
  max-width: 100%;
  background-image: url("../components/images/webolutionary-header.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 1440px;
}

.header .logo {
  margin-bottom: 25px;
  margin-left: 10px;
}

@include breakpoint($xl) {
  .header > .inner {
    max-width: 1224px;
    margin: 0 auto;
    padding-left: calc(1rem + calc(-50vw + calc(1224px / 2)));
    padding-right: calc(1rem + calc(-50vw + calc(1224px / 2)));
  }
}

@include breakpoint($xs) {
  .header {
    background-size: 720px;
  }

  .header > .inner {
    padding-top: 52px;
    padding-bottom: 75px;
  }

  .header .logo {
    width: 148px;
  }
}

@include breakpoint($medium) {
  .header {
    background-size: 1080px;
    margin-bottom: 4em;
  }

  .header > .inner {
    padding-top: 75px;
    padding-bottom: 100px;
  }

  .header .logo {
    width: 222px;
  }
}

@include breakpoint($large) {
  .header {
    background-size: 1440px;
  }

  .header > .inner {
    padding-top: 105px;
    padding-bottom: 150px;
  }

  .header .logo {
    width: 296px;
  }
}
