<header class="header">
  <div class="inner">
    <figure class="logo">
      <a class="logo__link" href="#">
        <picture class="logo__image">
          <img class="logo__img" srcset="themes/custom/webolutionary/components/images/logo-white.png 1x, themes/custom/webolutionary/components/images/logo-white-2x.png 2x" src="themes/custom/webolutionary/components/images/logo-white.png" alt="Logo">
        </picture>
      </a>
    </figure>
    {% block header_content %}
      {% include "@molecules/menus/main-menu/main-menu.twig" %}
      {% include "@molecules/site-slogan/site-slogan.twig" %}
    {% endblock %}
  </div>
</header>
