// A
.main-menu__link {
  color: $blue-bright;
  display: block;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: $space;
  text-decoration: none;
  font-weight: bold;

  @include breakpoint($main-menu-medium) {
    border-bottom: none;
    display: inline-block;
    font-size: 1.1rem;
    padding: $space $space;
    text-transform: none;
    position: relative;
    width: auto;

    &:hover {
      color: $white;
    }
  }
}

//
// Sub Navigation Links
//
// A (Nested)
.main-menu__link--sub {
  color: $gray-dark;
  padding-left: $space-triple;
  font-weight: normal;

  @include breakpoint($main-menu-medium) {
    color: $gray-light;
    display: block;
    padding: $space-one-third $space;
  }
}

.main-menu--sub-2 {
  background-color: $gray-lightest;
}

.main-menu__link--sub-2 {
  padding-left: $space-quadruple;
}
